#wrd{
	border: 2px solid white;
	background-color: white;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
}
#wrd1{
	margin: 30px;
	border: 2px solid white;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	font-family: 'Mukta', sans-serif;
}
#wrd2{
	font-family: 'PT Sans', sans-serif;
	margin: 5px;
	border: 5px solid white;
	background-color: green;
	border-radius: 30px;
}
#pic{
  margin: 20px;
  border: 2px solid white;
  background-color: white;
  border-radius: 5px;
  text-align: center;	
}
#pic1{
	margin: 10px;
	float: right;
}
#closer{
	text-align: center;
}
